<div class="content-wrapper flex flex-col justify-center ">



    <section class="">
        <div class="">
            <!-- Small boxes (Stat box) -->
            <div class="flex flex-wrap  justify-center">
                <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-4">
                    <!-- total number of stock-->
                    <div class="bg-blue-500 rounded-lg p-4 text-white">
                        <p>No. GCD</p>
                        <div class="text-3xl font-bold">{{lenghtofgcd}}</div>
                    </div>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-4">
                    <!-- small number of finished goods-->
                    <div class="bg-blue-500 rounded-lg p-4 text-white">
                        <p>Total GCD</p>
                        <div class="text-3xl font-bold">{{totalSum}}</div>
                    </div>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-4">
                    <!-- small box 2-->
                    <div class="bg-blue-500 rounded-lg p-4 text-white">
                        <p>No.Customer</p>
                        <div class="text-3xl font-bold">{{customercount}}</div>
                    </div>
                </div>

                <div class="w-full sm:w-1/2 md:w-1/4 px-4 mb-4">
                    <!-- small box 1-->
                    <div class="bg-blue-500 rounded-lg p-4 text-white">
                        <p>No. Vendors</p>
                        <div class="text-3xl font-bold">{{vendorcount}}</div>
                    </div>
                </div>


            </div>
        </div>

        <form class="flex flex-col items-center justify-center mt-4" (ngSubmit)="submitForm()">

            <div>

                <h1>Customer list :</h1>
            </div>
            <div class="flex ">

                <div class="flex flex-col mr-4">
                    <label for="fromDate" class="mb-2">From Date:</label>
                    <input type="date" id="fromDate" name="fromDate" class="p-2 border rounded" [(ngModel)]="fromDate">
                </div>
                <div class="flex flex-col mr-4">
                    <label for="toDate" class="mb-2">To Date:</label>
                    <input type="date" id="toDate" name="toDate" class="p-2 border rounded" [(ngModel)]="toDate">
                </div>



                <button type="submit" class="bg-blue-500 text-white h-10 rounded mt-8 px-3">Submit</button>
                <button *ngIf="showTable" class="bg-red-600 text-white h-10 ml-5 rounded mt-8 px-3" (click)="exportToDataExcel()">Export</button>
            </div>
        </form>

        <!-- /.container-fluid -->
    </section>


    <div class="table-container pl-20">
        <table *ngIf="showTable" class="min-w-full divide-y divide-gray-200 overflow-x-auto">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Customer Name</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Billing Address 1</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Billing Address 2</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Pin Code</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">GSTIN</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PAN</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">State</th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let item of mergedData1">
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_bill_address1 }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_bill_address2 }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_bill_pin_code }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_gstin }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_pan }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_phone }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.cust_state }}</td>
                </tr>
            </tbody>
        </table>
    </div>


</div>