<div class="table-container pl-20">

    <div class="flex flex-col">
        <label for="branch">Choose Branch</label>
        <select id="branch" (change)="change(selectedCity)" [(ngModel)]="selectedCity" class="border px-3 py-2 rounded-md focus:outline-none focus:ring-blue-500 w-72">
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>


    </div>
    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto" [hidden]="show">
        <thead class="bg-gray-50">
            <tr>

                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    employee name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    purity
                </th>

                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    weight
                </th>

            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let item of employedata">
                <td class="px-6 py-4 whitespace-nowrap">{{ item.employe_name }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.purity }}</td>
                <td class="px-6 py-4 whitespace-nowrap">{{ item.assigned_weight }}</td>
            </tr>
        </tbody>
    </table>
    <button [hidden]="show" (click)="exportToExcel(employedata)" class="bg-red-600 text-white font-medium rounded-lg shadow py-2 px-4 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 dark:bg-red-500 dark:hover:bg-red-600">Export</button>
</div>