<div class="container">
    <!-- <div class="flex flex-wrap space-x-6">
        <input type="date" name="" id="" class="w-60 border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-1 focus:ring-indigo-500" [(ngModel)]="fromDate" />
        <input type="date" name="" id="" class="w-60 border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-1 focus:ring-indigo-500" [(ngModel)]="toDate" (change)="submitDate(fromDate, toDate)" />
    </div> -->

    <div class="flex flex-wrap space-x-5">
        <div class="flex flex-col">
            <label for="input1">Branch</label>
            <div class="input-container">
                <select id="dropdown" [(ngModel)]="selectedValue" class="w-60 border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-1 focus:ring-indigo-500">
          <option
            *ngFor="let option of dropdownData"
            [value]="option.branch_name"
          >
            {{ option.branch_name }}
          </option>
        </select>
            </div>
        </div>
        <!-- End of first set -->
        <!-- Second set of input and select box -->
        <div class="flex flex-col">


            <!-- currently working no other is working -->
            <!-- /second select box -->
            <label for="input2">Department</label>
            <div class="input-container">
                <select id="dropdown" [(ngModel)]="selectedValue2" (change)="departmentbtn(selectedValue2)" (change)="
            dateAndBranchAndDepartment(
              selectedValue,
              selectedValue2
            )
          " class="w-60 borfder border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-1 focus:ring-indigo-500">
          <option
            *ngFor="let option of departmentData"
            [value]="option.department"
          >
            {{ option.department }}
          </option>
        </select>
            </div>
        </div>

        <div *ngIf="showsubdepboxForHandMade" class="flex flex-col">
            <label for="input1">Sub-Department</label>
            <div class="input-container">
                <select id="dropdown" [(ngModel)]="selectedSubDepForHandMade" (change)="
            subsubdepartmentOfHandmade(selectedSubDepForHandMade)" class="w-60 border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-1 focus:ring-indigo-500">
          <option
            *ngFor="let option of subDepartmentofhandmade"
            [value]="option.hm_department_name"
          >
            {{ option.hm_department_name }}
          </option>
        </select>
            </div>
        </div>

        <div *ngIf="showsubdepboxForCastind" class="flex flex-col">
            <label for="input1">Sub-Department</label>
            <div class="input-container">
                <select id="dropdown" [(ngModel)]="selectedSubDepForCasting" (ngModelChange)="subsubdepartmentOfCasting(selectedSubDepForCasting)" class="w-60 border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-1 focus:ring-indigo-500">
          <option
            *ngFor="let option of subDepartmentofCasting"
            [value]="option.casting_dept_name"
          >
            {{ option.casting_dept_name }}
          </option>
        </select>
            </div>
        </div>
    </div>
    <!-- First set of input box and select box -->

    <!-- End of Second set -->
    <!-- <button (click)="onsubmit(selectedValue, selectedValue2)" (click)="departmentbtn(selectedValue2)" class="bg-red-600 text-white font-medium rounded-lg shadow py-2 px-4 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 dark:bg-red-500 dark:hover:bg-red-600">
    Submit
  </button> -->

    <!-- Table div
    <div class="w-5/6 overflow-auto flex flex-col items-center" *ngIf="showthetable">

        <table class="w-full  shadow rounded-md border border-gray-200 ml-[800px] sm:ml-[1200px] md:ml-20 ">
            <thead>
                <tr class="text-xs font-medium text-left text-gray-700 bg-gray-100 uppercase">

                    <th class="px-6 py-3">N0.</th>
                    <th class="px-6 py-3">Transfer Date</th>
                    <th class="px-6 py-3">Department</th>
                    <th class="px-6 py-3">Variant Name</th>
                    <th class="px-6 py-3">Purity</th>
                    <th class="px-6 py-3">Type Name</th>
                    <th class="px-6 py-3">Weight</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of departmentdata; let i = index" class="w-full border-b border-gray-200 hover:bg-gray-100">
                    <td class="px-6 py-4">{{ i+1 }}</td>
                    <td class="px-6 py-4">{{ item.transfer_date }}</td>
                    <td class="px-6 py-4">{{ item.production_type_name }}</td>
                    <td class="px-6 py-4">{{ item.varient_name }}</td>
                    <td class="px-6 py-4">{{ item.purity }}</td>
                    <td class="px-6 py-4">{{ item.type_name }}</td>
                    <td class="px-6 py-4">{{ item.new_transfer_weight }}</td>
                </tr>
            </tbody>
        </table>
    </div> -->

    <!-- Date wise table -->

    <div class="table-container pl-20" *ngIf="showDate">
        <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Branch
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Department
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        order number
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        purity
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        piece
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        net weight
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        weight
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        stone type
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        stone weight
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let item of dateWiseData">
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.branch }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.department }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.order_number }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.order_date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.karat_variant }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.quantity }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.net_weight }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.weight }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.stone_type }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.stone_weight }}</td>
                </tr>
            </tbody>
        </table>

        <button (click)="exportdata(dateWiseData)" class="bg-red-600 text-white font-medium rounded-lg shadow py-2 px-4 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 dark:bg-red-500 dark:hover:bg-red-600">Export</button>
    </div>

    <div class="table-container pl-20" *ngIf="showDateAndBranch">
        <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Branch
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Department
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        order number
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        purity
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        piece
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        net weight
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        weight
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        stone type
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        stone weight
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let item of datebranch">
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.branch }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.department }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.order_number }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.order_date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.karat_variant }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.quantity }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.net_weight }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.weight }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.stone_type }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.stone_weight }}</td>
                </tr>
            </tbody>
        </table>
        <button (click)="exportdata(datebranch)" class="bg-red-600 text-white font-medium rounded-lg shadow py-2 px-4 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 dark:bg-red-500 dark:hover:bg-red-600">Export</button>
    </div>

    <div class="table-container pl-20" *ngIf="showDateAndBranchAndDepartment">
        <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Branch </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Department
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        order number
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Date
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        purity
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        piece
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        net weight
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        weight
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        stone type
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        stone weight
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let item of datebranchdepartment">
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.branch }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.department }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.order_number }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.order_date }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.karat_variant }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.quantity }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.net_weight }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.weight }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.stone_type }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.stone_weight }}</td>
                </tr>
            </tbody>
        </table>
        <button (click)="exportdata(datebranchdepartment)" class="bg-red-600 text-white font-medium rounded-lg shadow py-2 px-4 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 dark:bg-red-500 dark:hover:bg-red-600">Export</button>
    </div>

    <div class="table-container pl-20" *ngIf="showsubdepartment">
        <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Branch </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Department
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        purity
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        karat type
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        weight
                    </th>

                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr *ngFor="let item of dataforsubdepartment">
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.branch }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.department_name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.purity }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.karat_name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ item.weight }}</td>
                </tr>
            </tbody>
        </table>
        <button (click)="exportdata(dataforsubdepartment)" class="bg-red-600 text-white font-medium rounded-lg shadow py-2 px-4 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 dark:bg-red-500 dark:hover:bg-red-600">Export</button>
    </div>
</div>