<div [class.hidden]="!isSidebarOpen" [class.w-40]="isSidebarOpen" [class.w-16]="!isSidebarOpen" class="flex flex-col h-full bg-gray-800 transition-all duration-300 ease-in-out">
    <!-- Sidebar Header -->
    <div class="py-4 px-6 flex items-center justify-between bg-gray-900">
        <h2 class="text-white text-lg font-bold ml-10">Menu</h2>
    </div>

    <!-- Sidebar Content -->
    <div class="flex-grow">
        <!-- Dashboard Button -->
        <button class="py-2 px-6 text-gray-200 hover:bg-gray-700" [routerLink]="['//']">
            Dashboard
        </button>

        <!-- Order List Button -->
        <button class="py-2 px-6 text-gray-200 hover:bg-gray-700" [routerLink]="['//orderlist']">
            Order List
        </button>

        <!-- Space for Additional Buttons -->
        <!-- Add more buttons here as needed -->
    </div>
</div>

<!-- Toggle Sidebar Button (Visible on Mobile) -->
<button (click)="toggleSidebar()" class="fixed top-0 left-0 z-50  w-12 h-12 bg-gray-900 text-white flex items-center justify-center">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
</button>